<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carangoshotrod">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="br.com.caelum.fj59.carangostunning.activity.HotRodComprasActivity"
            android:label="@string/title_activity_hotrod_compras">

            <intent-filter>
                <action android:name="br.com.caelum.fj59.carangos.compra.HotRod" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>

</manifest>
